{% comment %}
  Default Variant Selector (for other options)
{% endcomment %}

<div class="variant-selector default-selector">
  <label class="variant-label" for="option-{{ option.position }}">
    {{ option.name }}:
  </label>
  
  <select 
    id="option-{{ option.position }}"
    class="variant-select"
    data-option-name="{{ option.name }}"
    data-option-position="{{ option.position }}">
    {% for value in option.values %}
      <option value="{{ value }}" {% if product.selected_or_first_available_variant.options[option.position] == value %}selected{% endif %}>
        {{ value }}
      </option>
    {% endfor %}
  </select>
</div>

